.App {
  text-align: center;
  padding-left: 10%;
  width: auto;
  border: solid black;
  margin:100px;
  padding-bottom: 500px;
  width: 80%;
}
.App>div{
  position: relative;
}
.App>div:nth-child(2){
  width: 90%;
  display: flex;
 
  
}
